version = 3

[plugins."io.containerd.cri.v1.images".pinned_images]
  sandbox = "{{ harbor_registry }}/{{ harbor_project }}/pause:3.10.2"

[plugins."io.containerd.cri.v1.runtime".containerd.runtimes.runc.options]
  SystemdCgroup = true
